<!-- NAVBAR -->
<div class="{{class_header}}">

    <div id="menuForPhone" onclick="showMenu()">
        <i class="fas fa-align-justify"></i>
    </div>

    <div class="navbar" id="forPhone">
    
        <div class="{{active_p}}">
            <a href="{{urlHome}}">Portfolio</a>
        </div>
    
        <div class="{{active_r}}">
            <a href="{{urlResume}}">Resume</a>
        </div>
    
    </div>

</div>